* {
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
  font-family: "Samsung Sans", sans-serif;
}

body {
  background: linear-gradient(90deg, #1cb5e0 0%, #000851 100%);
  color: rgb(13, 0, 0);
}

#mainheading {
  background: linear-gradient(90deg, rgb(193, 14, 14) 100%);
  background-clip: text;
  color: transparent;
  /* text-shadow: 2px 2px rgb(209, 218, 192); */
  text-align: center;
  margin: 10px;
  font-weight: bolder;
}

.navbar ul {
  text-align: center;
  border: 3px solid palevioletred;
  padding: 10px 10px;
  width: 700px;
  margin: 10px auto;
  border-radius: 10px;
  background-color: skyblue;
  box-shadow: 0 0 10px 5px palevioletred;
}
.navbar li {
  display: inline;
  margin-right: 15px;
}

.navbar a {
  font-weight: 1000;
  color: rgb(165, 42, 124);
  text-decoration: none;
}

#wlcmmsg {
  text-align: center;
}

.head {
  color: rgb(165, 42, 124);
}

.abtbox {
  border: 4px solid skyblue;
  border-radius: 20px;
  padding: 10px;
  margin: 20px 3px;
  box-shadow: 3px 3px 10px 2px skyblue;
}

#github {
  display: block;
  text-decoration: none;
  color: black;
  border: 1px solid whitesmoke;
  border-radius: 20px;
  padding: 10px;
  margin: 20px 3px;
  width: 140px;
  background: violet;
}

.skills {
  border: 4px solid skyblue;
  border-radius: 20px;
  margin: 20px 3px;
  padding: 15px;
  box-shadow: 3px 3px 10px 2px skyblue;
}
.skills ol,
ul,
dl {
  padding-left: 15px;
}
.subskills {
  color: cadetblue;
}

.api {
  display: inline-block;
  border: 4px solid rgb(112, 8, 112);
  border-radius: 15px;
  margin-right: 10px;
  width: 500px;
  background-color: antiquewhite;
}

.api dt {
  color: oklch(23.203% 0.08683 27.377);
  font-weight: 1000;
}
.api dd {
  color: darkblue;
}
.cicd dt {
  color: rgb(61, 4, 4);
  font-weight: 1000;
}
.cicd dd {
  color: darkblue;
}
.cicd {
  display: inline-block;
  border: 4px solid rgb(112, 8, 112);
  border-radius: 15px;
  width: 500px;
  background-color: antiquewhite;
}
.projects {
  border: 4px solid skyblue;
  border-radius: 20px;
  margin: 20px 3px;
  padding: 15px;
  box-shadow: 3px 3px 10px 2px skyblue;
}

a {
  text-decoration: none;
}

.connect {
  border: 4px solid skyblue;
  border-radius: 20px;
  margin: 20px 3px;
  padding: 10px;
  box-shadow: 3px 3px 10px 2px skyblue;
}
.arrow {
  border: 2px solid red;
  border-radius: 50%;
  margin: 20px auto;
  width: 60px;
  height: 60px;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px 2px red;
}
.arrow a {
  display: flex;
}

.abtbox,
.skills,
.projects,
.connect {
  background: #050182;
}
